<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

  <div ng-app="myApp" ng-controller="myCtrl" ng-init="mycolour='green'">
    <p>My root element is {{5+5}}</p>
    <input ng-model="myname" placeholder="Enter your name"><br>
    Hello  <span ng-bind="myname"></span>

    <label><input type="checkbox" ng-model="enabledisable">Enable/Disable button</label>
    <button ng-disabled="enabledisable">Click here</button><br>

    <label><input type="checkbox" ng-model="showhide">Show button</label>
    <button ng-show="showhide">Click me</button>


    <input ng-style="{'background-color': mycolour}" ng-model="mycolour"><br>

    
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}
</div>
    
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
  $scope.firstName = "";
  $scope.lastName = "";
});
</script>
</body>
</html>
